@model RunStats.Models.RunningSession

@{
    ViewData["Title"] = "Create";
}

<p id="demo"></p>

<h1>Create</h1>

<h4>RunningSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label"></label>
                <input type="checkbox" id="autoStartSessionCheckbox" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" id="dateInput" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" id="timeInput" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseTypeId" class="control-label"></label>
                <select asp-for="ExerciseTypeId" class ="form-control" asp-items="ViewBag.ExerciseTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShoesId" class="control-label"></label>
                <select asp-for="ShoesId" class ="form-control" asp-items="ViewBag.ShoesId"></select>
            </div>
            <div class="form-group">
                <input name="longitude" class="form-control" id="longitude">
                <input name="latitude" class="form-control" id="latitude"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript" defer>
    (function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(loadPosition);
        } else {
            console.warn("Geolocation is not supported by this browser.");
        }
    })();

    function loadPosition(position) {
        const latitudeInput = document.getElementById("latitude");
        const longitudeInput = document.getElementById("longitude");
        latitudeInput.value = position.coords.latitude;
        longitudeInput.value = position.coords.longitude;
    };

    document.getElementById('autoStartSessionCheckbox').addEventListener('change', function () {
        var dateInput = document.getElementById('dateInput');
        var timeInput = document.getElementById('timeInput');
        console.log(dateInput.value);
        dateInput.disabled = timeInput.disabled = this.checked; // Zablokuj pola daty i czasu, jeśli checkbox jest zaznaczony
        if (this.checked) {
            dateInput.value = new Date().toISOString().slice(0, 16); // Ustaw datę na teraźniejszą, jeśli checkbox jest zaznaczony
            timeInput.value = null // Ustaw czas na null, jeśli checkbox jest zaznaczony - czas sesji bedzie wyliczony przy jej zakonczeniu
        }
    });
</script>