@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">O aplikacji</h1>
</div>

<div class="text-left mt-4">
    <h4>Opis dostępnych ekranów:</h4>
    <ol>
        <li>
            <h4>Logowanie (Login):</h4>
            <ul>
                <li>Aby korzystać z aplikacji, musisz być zalogowany.</li>
                <li>Po zakończeniu procesu rejestracji, należy kliknąć na link widoczny na ekranie potwierdzenia rejestracji (Register confirmation), aby potwierdzić utworzenie konta. Jeśli proces potwierdzenia nie powiedzie się, zaleca się założenie nowego konta i ponowne wykonanie procedury potwierdzającej.</li>
            </ul>
        </li>
        <li>
            <h4>Statystyki (Stats)</h4>
            <ul>
                <li>Wyświetla dane treningowe zalogowanego użytkownika.</li>
                <li>Pokazuje najdłuższy bieg.</li>
                <li>Podkreśla najlepsze tempo.</li>
                <li>Podaje najlepsze tempo dla biegów w kategoriach: do 2 km, do 5 km, do 10 km, do 20 km i powyżej 20km</li>
            </ul>
        </li>
        <li>
            <h4>Typy Treningów (Exercise types)</h4>
            <ul>
                <li>Użytkownicy mogą definiować własne typy treningów (np. maraton, 10 km, itp.).</li>
            </ul>
        </li>
        <li>
            <h4>Sesje Biegowe (Running sessions)</h4>
            <ul>
                <li>Ważne - w tej wersji (rozwojowej) aplikacji musisz zezwolić przeglądarce na pobieranie danych lokalizacji</li>
                <li>Dodawanie sesji treningowej.</li>
                <li>Można ustawić czas trwania sesji manualnie albo skorzystać z opcji automatycznej, wybierając "Start timer". Następnie należy wypełnić pozostałe wymagane dane i zatwierdzić utworzenie sesji. Po jej utworzeniu, na liście sesji pojawi się przycisk "Stop Session", który umożliwia zatrzymanie aktywnego stopera. Zatrzymany czas zostanie automatycznie przypisany do danej sesji.</li>
                <li> Każda sesja pobiera dane pogodowe i wymaga podania danych lokalizacyjnych. Dane lokalizacyjne są pobierane automatycznie.</li>
                <li> Uwaga: Niektóre przeglądarki mogą nie obsługiwać usług lokalizacyjnych lub mogą mieć je wyłączone w ustawieniach. W takich przypadkach dane lokalizacyjne dla Warszawy zostaną załadowane automatycznie.</li>
            </ul>
        </li>
        <li>
            <h4>Typy Butów (Shoe types)</h4>
            <ul>
                <li>Użytkownicy mogą dodawać typy butów (np. górskie, miejskie, na bieżnię).</li>
            </ul>
        </li>
        <li>
            <h4>Buty (Shoes)</h4>
            <ul>
                <li>Użytkownicy mogą dodawać swoje buty do biegania z wybranym typem.</li>
                <li>Zbierane są informacje o pokonanym dystansie w danej parze butów (każda nowa sesja treningowa zwiększa wartość dystansu w wybranej parze obuwia).</li>
            </ul>
        </li>
    </ol>
    <h4>Uwagi</h4>
    <p>Aplikacja testowana w przeglądarkach Firefox (v 111) /Chrome (v120) - wersje webowe.</p>
</div>

